<% content_for :title do %>About<% end %>

<h3>About Rebeca Polo</h3>

<p>She was born in Waikikamukau, New Zealand. She left New Zealand for England, excelled
at the University of Mopery, and served in the Royal Loamshire Regiment. While in
service, she invented the kanuten valve used in the processing of unobtainium for
industrial use. With a partner, Granda Fairbook, she founded Acme Manufacturing, later
acquired by the Advent Corporation, to develop her discovery for use in the
Turboencabulator. Mrs. Kadigan is now retired and lives in Middlehampton with a favorite
cat, where she raises Griadium frieda and collects metasyntactic variables.</p>
<p>Her favorite quotation is:</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua.</p>